@font-face {
  font-family: "Outfit";
  src: url("Fonts/Outfit-VariableFont_wght.ttf") format("truetype");
}

body {
  padding: 0;
  font-family: "Outfit", sans-serif;
  margin: 0;
  overflow-x: hidden;
  background: #181818;
  width: 100%;
}
section {
  margin-bottom: 100px;
}
.title {
  font-size: 86px;
  line-height: 106%;
  font-weight: 700;
}
p,
h2 {
  color: #fff;
  margin: 0;
}
.t8 {
  font-size: 36px;
  font-weight: 600;
  line-height: 45.36px;
  text-align: center;
  color: #a64ced;
}
.t7 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
}
.t6 {
  font-size: 14px;
  font-weight: 300;
  line-height: 19.6px;
  text-align: left;
}
.t5 {
  font-size: 64px;
  font-weight: 700;
  line-height: 67.84px;
}
.t4 {
  font-size: 36px;
  font-weight: 600;
  line-height: 45.36px;
}
.t3 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 106%;
}
.t2 {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.t1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 101.76px;
}
.tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0 0 60px;
  gap: 10px;
  width: inherit;
  background-color: #ffaa4c;
}

.tab button {
  font-family: "Outfit", sans-serif;
  border-radius: 20px 20px 0px 0px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  width: 168px;
  height: 38px;
}

.tab button:hover {
  background: #ddd;
}
.tab button:not(.active) {
  background: #ffaa4c;
}
.tab button.active {
  background: #181818;
  color: white;
}
.tabcontent.active {
  display: block;
}
.tabcontent {
  display: none;
  border: none;
  border-top: none;
}
.header {
  padding: 7px 60px 0 60px;
  position: relative;
  z-index: 0;
}
.top_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  height: 71px;
}
.fixed {
  top: 0;
  left: 0;
  position: fixed;
  background: #181818;
  z-index: 99;
  width: calc(100% - 120px);
}
.logo {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.logo p {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 37px;
  line-height: 17px;
  color: #fff;
  margin: auto 0;
}
.contact_btn {
  font-family: "Outfit", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 30px;
  width: 182px;
  height: 57px;
  background: #954ced;
  border-radius: 16px;
  color: white;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -0.02em;
  font-size: 16px;
  position: relative;
  border: none;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s ease, border-color 0.2s ease,
    color 0.2s ease, fill 0.2s ease, transform 0.2s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  will-change: transform;
  z-index: 1;
}
.contact_btn:focus {
  background: #954ced;
  border: 4px solid #ba8bf3;
}
.contact_btn:active {
  border: none;
  background: #7b31d5;
}
.contact_btn:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%) rotate(10deg);
  transform-origin: top left;
  transition: background-color 0.2s ease, border-color 0.2s ease,
    color 0.2s ease, fill 0.2s ease, transform 0.2s ease-in-out;
  will-change: transform;
  z-index: -1;
  border-radius: 16px;
  background-color: black;
}

.contact_btn:not(:disabled):hover {
  background-color: #181818;
  border: 2px solid #954ced;
  transition: background-color 0.2s ease, border-color 0.2s ease,
    color 0.2s ease, fill 0.2s ease, transform 0.2s ease-in-out;
  transform: scale(1.07);
  will-change: transform;
}
.contact_btn:not(:disabled):hover:after {
  transform: translate(0);
  z-index: -1;
}
.growUp .contact_btn:not(:disabled):hover,
.growUp .contact_btn:focus {
  border: none;
}
.btm_header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-top: 60px;
}
.right_header {
  height: 529px;
}
.left_header {
  margin-left: 50px;
}
.left_header .title {
  margin: 0.8em 0 20px 0;
}
.right_header svg {
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
}
.right_header img {
  width: 595px;
  height: 529px;
  object-fit: contain;
  margin-left: 5%;
}
.left_header p {
  color: #fff;
}
.left_header p.t2 {
  width: 83%;
}
.left_header button {
  margin-top: 40px;
}
.about {
  padding: 0 60px;
  position: relative;
}
.about .about_svg {
  position: absolute;
  bottom: 0;
  left: 0;
}
.about_section .t4 {
  width: 31%;
}
.about .title {
  margin-bottom: 80px;
}
.about .t2 {
  width: fit-content;
}
.with_border {
  position: relative;
  z-index: 1;
  white-space: nowrap;
}
.with_border::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: -3px;
  width: 106%;
  height: 35px;
  z-index: -1;
  border-radius: 20px;
  background-color: #a64ced;
  transform: rotate(-1.69deg);
}
.about_section {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
}
.about_icon svg {
  display: block;
  margin-bottom: 15px;
}
.about_icons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-basis: 60%;
  justify-content: space-between;
  margin-left: 118px;
  gap: 70px;
}

.about_icon {
  flex-basis: calc(47% - 25px);
}
.about_icon:nth-last-child(-n + 2) {
  margin-bottom: 36px;
}
.phone {
}
.phone figure {
  display: block;
  margin: 0 auto;
  width: fit-content;
  position: relative;
}
.phone img {
  width: 308px;
  height: 623px;
  position: relative;
}
.phone video {
  position: absolute;
  border-radius: 70px;
  bottom: 6px;
}
.how_works_bckgrnd {
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.how_works_bckgrnd p {
  font-family: "Outfit";
  white-space: nowrap;
  font-size: 128px;
  font-weight: 700;
  line-height: 135.68px;
  color: #181818;
  text-shadow: -1px -1px 0 #444444, 1px -1px 0 #444444, -1px 1px 0 #444444,
    1px 1px 0 #444444;
}

.stroke {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
  margin-bottom: 80px;
}
.stroke.first p:first-child {
  color: #2fdbbc;
}
.stroke.second p:first-child {
  color: #a64ced;
}
.stroke.third p:first-child {
  color: #ffaa4c;
}
.stroke.first,
.stroke.third {
  animation: scroll_right 15s linear infinite;
}
.stroke.second {
  animation: scroll_left 15s linear infinite;
}
.stroke_wrap {
  --gap: 1rem;
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
}

@keyframes scroll_left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
@keyframes scroll_right {
  from {
    transform: translateX(calc(-100% - var(--gap)));
  }
  to {
    transform: translateX(0);
  }
}
.about_numbers {
  background-color: #954ced;
}
.about_numbers .t7 {
  font-weight: 600;
  line-height: 28.8px;
}
.numbers {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 40px 0;
}
.number {
  max-width: 14%;
}
.number .t5 {
  margin-bottom: 16px;
}
.why_ttl {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}
.why_ttl .t4 {
  text-align: center;
}
.reason_txt {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.reason_txt p {
  color: #000000;
}
.reason_txt .t3 {
  font-weight: 600;
  margin-bottom: 20px;
}
.why_reasons > :last-child .reason_txt .t2 {
  width: 96%;
}
.reason {
  background: #f5f5f5;
  position: relative;
  display: flex;
  min-height: 362px;
  border-radius: 30px;
  margin-bottom: 20px;
  z-index: 1;
  overflow: hidden;
  width: 100%;
}

.why_reasons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin: 0 70px;
}
.why_reasons > :first-child,
.why_reasons.second > :last-child {
  flex-basis: calc(57% - 10px);
}

.why_reasons > :last-child,
.why_reasons.second > :first-child {
  flex-basis: calc(43% - 10px);
}
.why_reasons > :last-child .reason_txt {
  margin: 40px 47px 0 40px;
}
.why_reasons > :first-child .reason_txt {
  margin: 40px 40px 0 0;
}
.why_reasons.second > :first-child img {
  bottom: 0;
  position: absolute;
  right: 0;
}
.why_reasons.second > :first-child .reason_txt {
  margin: 40px 65px 50px 40px;
}
.why_reasons.second > :last-child img {
  margin: 60px 43px 0 0;
}
.why_reasons.second > :last-child .reason_txt {
  margin: 40px 0 86px 40px;
}
.reason svg {
  position: absolute;
  z-index: -1;
}
.green_bag {
  bottom: 0;
  left: 50px;
}
.purple_bag {
  right: 0;
  top: 25%;
}
.yellow_bag {
  bottom: 0;
  right: 30%;
}
.growUp {
  background: #f5f5f5;
  padding: 100px 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.growUp p,
.growUp h2 {
  color: #000000;
}
.growUp_ttl p {
  margin-bottom: 40px;
}
.growUp_ttl {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #cfcfcf;
  border-radius: 60px;
  width: calc(100% - 120px);
  max-width: 1320px;
  padding: 60px 0;
  margin: 100px 60px 0 60px;
}
.growUp_about {
  display: flex;
  margin: 100px 45px 100px 60px;
}
.growUp_txt .t2 {
  width: 70%;
}
.growUp_txt .t1,
.growUp_ttl .t5,
.about_icon .t3,
.why_ttl h2 {
  margin-bottom: 20px;
}
.growUp_about > :first-child {
  flex-basis: 60%;
}
.growUp_about > :last-child {
  flex-basis: 40%;
}
.soc_icon {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: end;
  justify-items: end;
}
.facebook {
  grid-area: 1 / 1 / 2 / 2;
}
.twitter {
  grid-area: 2 / 2 / 3 / 3;
}
.instagram {
  grid-area: 1 / 3 / 2 / 4;
}
.tiktok {
  grid-area: 2 / 4 / 3 / 5;
}
.partners {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 102px);
  gap: 90px;
  flex-wrap: wrap;
}
.partners img {
  object-fit: contain;
}
.top_foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 60px 30px 60px;
}
.tabs {
  display: flex;
  gap: 40px;
}
.top_foot .tablinks,
#popup_menu .tablinks {
  border: none;
  background: #181818;
  color: #fff;
  font-size: 20px;
  font-family: "Outfit";
  cursor: pointer;
  padding: 0;
}
.dwnld_btn {
  display: flex;
  gap: 20px;
}
.dwnld_btn .contact_btn {
  margin-right: 20px;
}
.top_foot .dwnld_btn img {
  width: 195px;
  height: 57px;
}
.bottom_foot {
  display: flex;
  justify-content: space-between;
  margin: 0 60px 21px 60px;
  padding-top: 20px;
  border-top: 2px solid #444444;
}
.terms_link {
  display: flex;
  gap: 20px;
}
.bottom_foot .t6 {
  color: #b9b9b9;
}
.popup_bg {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s all;
}
.popup_bg.active {
  opacity: 1;
  pointer-events: all;
  transition: 0.5s all;
}
.close_popup {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}
.contact_btn.close_popup {
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
}
.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  margin: auto;
  height: fit-content;
  width: fit-content;
  background: #fff;
  padding: 40px;
  transition: 0.5s all;
  display: none;
}
.popup.active {
  display: block;
}
.popup#popup_menu {
  width: 100%;
  height: 100%;
  background: #181818;
}
#popup_menu .close_popup {
  position: relative;
  top: 16px;
  left: 87%;
}
#popup_menu .contact_btn {
  margin-bottom: 161px;
}
#popup_menu .tabs {
  margin: 140px auto 0 auto;
  width: calc(100% - 32px);
}
#fields,
#success_msg {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 337px;
  width: 100%;
  gap: 10px;
}
#fields input {
  height: 40px;
  padding: 0 16px;
  border-radius: 14px;
  border: 1px solid #a7a7a7;
  font-family: "Outfit";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.field {
  display: flex;
  flex-direction: column;
  width: inherit;
}
#success_msg .t7 {
  color: #444444;
}
#fields label {
  color: #070707;
  margin-bottom: 4px;
}
.form_policy {
  color: #000;
}
.form_policy {
  margin-bottom: 10px;
}
.current.error_msg {
  font-family: "Outfit";
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 4px;
}
#form_btn[disabled] {
  background: #b9b9b9;
  cursor: auto;
}
#success_msg {
  display: none;
  align-items: center;
  width: 345px;
  text-align: center;
}
.all.error_msg {
  margin: 10px 0;
}
#fields label.error_msg {
  color: #ec1211;
  display: none;
}
.mobile {
  display: none;
}
.burger {
  width: 40px;
  height: 40px;
  background-image: url("img/burger.png");
  background-size: cover;
  background-color: #181818;
  background-position: center;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .why_reasons,
  .top_foot,
  .dwnld_btn,
  .tabs.pc {
    flex-direction: column;
  }
  .tabs.pc,
  .dwnld_btn,
  .top_foot {
    gap: 16px;
  }
  .top_foot {
    align-items: flex-start;
  }
  .top_foot .tablinks,
  #popup_menu .tablinks {
    width: fit-content;
  }
  .about_icons {
    gap: 25px;
  }
}
@media only screen and (max-width: 768px) {
  section {
    margin-bottom: 40px;
  }

  .about_section,
  .about_icons,
  .numbers,
  .why_reasons.second > :last-child,
  .growUp_about {
    flex-direction: column;
  }

  .left_header p.t2 {
    width: 100%;
  }

  .left_header {
    margin-left: 0;
    margin-bottom: 124px;
  }
  .left_header p.t2,
  .about_section .t4 {
    width: 70%;
  }
  .right_header {
    height: auto;
    width: 100%;
    text-align: center;
  }

  .about_icons {
    margin-left: 0;
  }
  .about_section {
    gap: 42px;
  }
  .right_header img {
    position: absolute;
    bottom: 0px;
    left: 35%;
  }
  .about_icons {
    gap: 60px;
    margin-right: 160px;
  }
  .phone video,
  .phone img {
    width: 228px;
    height: 461px;
  }
  .how_works_bckgrnd p {
    font-size: 48px;
    font-weight: 700;
    line-height: 50.88px;
  }
  .stroke {
    margin-bottom: 93px;
  }
  .how_works_bckgrnd {
    transform: translateY(13%);
  }
  .numbers {
    margin-left: 16px;
    gap: 40px;
  }
  .number {
    display: flex;
    max-width: 100%;
    align-items: center;
    gap: 20px;
  }
  .number .t5 {
    margin-bottom: 0;
  }
  
  .why_reasons {
    margin: 0 16px;
  }
  .why_reasons > :first-child .reason_txt,
  .why_reasons.second > :first-child .reason_txt {
    margin: 20px 20px 5px 20px;
  }
  .reason img.mobile {
    display:block;
    position: relative;
    bottom: -38px;
    width: 70%;
  }
  .reason img.pc{
    display:none;
  }
  .why_reasons.second > :first-child img {
    position: relative;
    bottom: 0;
    align-self: end;
  }
  .why_reasons.second > :last-child img {
    width: 143px;
    height: 185px;
    bottom: 0;
    margin: 0 55px 0 auto;
  }
  .why_reasons.second > :last-child .reason_txt {
    margin: 40px 0 6px 40px;
  }
  .why_reasons > :first-child {
    flex-direction: column-reverse;
  }
  .reason {
    justify-content: space-between;
  }
  .purple_bag {
    top: 45%;
  }
  .yellow_bag {
    right: 50%;
  }
  .growUp_ttl {
    padding: 60px 20px;
    width: auto;
  }
  .growUp_about {
    gap: 20px;
    margin: 100px 16px 100px 16px;
  }
  .growUp_ttl {
    margin: 100px 16px 0 16px;
  }
  .growUp_txt .t1{
    font-size:80px;
  }
  .soc_icon {
    justify-items: start;
  }
  .soc_icon svg {
    width: 64px;
    height: 64px;
  }

  .growUp_ttl .t5{
    width: 80%;
    text-align: center;
  }
  .top_foot {
    gap: 40px;
  }
  .dwnld_btn {
    gap: 20px;
  }
  .bottom_foot .t6{
    text-wrap: balance;
  }
  .about .about_svg{
    display:none;
  }
  .tab {
    padding: 0 0 0 16px;
  }
  .top_header {
    padding: 0 16px;
  }
  .partners {
    width: auto;
    margin: 0 16px;
    gap: 40px;
  }
}
@media only screen and (max-width: 600px) {
  .pc {
    display: none;
  }
  .mobile {
    display: block;
  }
  .btm_header {
    flex-direction: column;
  }
  .header {
    padding: 7px 16px 0 16px;
  }
  .top_header {
    padding: 0 16px;
    width: calc(100% - 32px);
  }
.reason_txt .t3 {
    font-weight: 700;
  }
  .t7 {
    font-size: 20px;
    font-weight: 600;
    line-height: 25.2px;
  }
  
  .t5 {
    font-size: 40px;
    line-height: 42.4px;
  }
  .t4 {
    font-size: 24px;
    line-height: 28.8px;
  }
  .t3 {
    font-size: 32px;
    line-height: 33.92px;
  }
  .t2 {
    font-size: 16px;
    line-height: 20.16px;
  }
  .t1,
  .growUp_txt .t1 {
    font-size: 40px;
    line-height: 42.4px;
  }
  .title {
    font-size: 40px;
    font-weight: 700;
    line-height: 42.4px;
  }
  .tabs.mobile {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .tabs.mobile a {
    color: #fff;
    font-size: 20px;
    font-family: "Outfit";
    text-decoration: none;
  }
  .growUp_txt .t2 {
    font-size: 20px;
    line-height: 24px;
  }

  .contact_btn {
    width: 100%;
  }
  .left_header p.t2,
  .about_section .t4 {
    width: 78%;
  }
  .with_border::before {
    width: 243.67px;
    height: 21.71px;
    top: 7.44px;
    left: -0.15px;
    border-radius: 30px;
  }
  .about_icons {
    gap: 60px;
    margin-right: 60px;
  }
  .why_reasons > :last-child .reason_txt {
    margin: 20px 20px 150px 20px;
  }
  .growUp_ttl .t5 {
    
    width:100%;
  }
  .partners img:nth-child(1) {
    order: 3;
  }
  .partners img:nth-child(2) {
    order: 2;
  }
  .partners img:nth-child(3) {
    order: 1;
  }
  .partners img:nth-child(4) {
    order: 4;
  }
  .partners img:nth-child(5) {
    order: 5;
  }
  .partners img {
    width: 43%;
  }
  .top_foot {
    display: flex;
    justify-content: space-between;
    margin: 40px 16px 30px 16px;
}
  .green_bag {
    left: 20px;
  }
  .about {
    padding: 0 16px;
  }
  .yellow_bag {
    right: 35%;
  }
  .purple_bag {
    top: 48%;
  }
  .growUp_about {
    margin: 100px 4px 100px 16px;
  }
  .right_header img {
    width: 296.27px;
    height: 315.89px;
    margin-left: 0;
    object-fit: cover;
    position: relative;
    bottom: -4px;
    left: 0%;
  }
  .right_header svg {
    width: 391.46px;
    height: 263.99px;
  }
  .growUp_txt .t2 {
    width: 100%;
  }
}
